// /* ================= Material fixes ================= */

// /* Testo input */
// :host ::ng-deep .mat-mdc-input-element {
//   color: rgba(0, 0, 0, 0.87);
// }

// /* Label */
// :host ::ng-deep .mat-mdc-form-field-label {
//   color: rgba(0, 0, 0, 0.7);
// }

// /* Placeholder */
// :host ::ng-deep .mat-mdc-input-element::placeholder {
//   color: rgba(0, 0, 0, 0.45);
// }

/* Readonly */
:host ::ng-deep input[readonly].mat-mdc-input-element {
  color: rgba(0, 0, 0, 0.45);
}


/* ================= Layout ================= */

.leaflet-add-layout {
  display: grid;
  grid-template-columns: 70% 30%;
  height: 100vh;
  width: 100vw;
}


/* ================= Map column ================= */

.map-col {
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.map-toolbar {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 8px 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.status {
  margin-left: auto;
  font-size: 13px;
  opacity: 0.75;
}

.status.error {
  opacity: 1;
}

.map {
  flex: 1;
  min-height: 0;
}


/* ================= Panel column ================= */

.panel-col {
  height: 100%;
  overflow-y: auto;
  border-left: 1px solid rgba(0, 0, 0, 0.12);

  padding: 12px 12px 0 12px;
}

.panel-toolbar {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 12px 12px 0;
}

.panel-toolbar__spacer {
  flex: 1;
}

.empty-panel {
  opacity: 0.75;
  padding: 12px 12px 0 0;
}

.dock {
  padding: 0 12px 12px 0;
}

.dock__header {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px;
  // border-bottom: 2px solid black;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 99px;
  background-color: rgba(115, 181, 213, 0.2);
  margin-bottom: 12px;
}

.dock__title {
  font-size: 16px;
  font-weight: 600;
}

.dock__spacer {
  flex: 1;
}

.dock__content {
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}


/* ================= Responsive ================= */

@media (max-width: 1100px) {
  .leaflet-add-layout {
    grid-template-columns: 60% 40%;
  }
}

@media (max-width: 860px) {
  .leaflet-add-layout {
    grid-template-columns: 1fr;
    grid-template-rows: minmax(50vh, 1fr) auto;
  }

  .panel-col {
    border-left: none;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
  }

  .map-toolbar {
    flex-wrap: wrap;
    gap: 10px;
  }

  .status {
    margin-left: 0;
  }
}
