.map-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.map-container {
  width: min(1200px, 90vw);
  height: min(800px, 70vh);
  border-radius: 8px;
 
}

.toolbar {
  display: flex;
  gap: 12px;
  margin: 12px;
}

.map-toggles {
  color: white;
  margin-left: 8px;
}